/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-annotations-tester  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.editor-block-list__layout .editor-block-list__block {

  // Hover style
  &.is-annotated-by-annotations-tester > .editor-block-list__block-edit::before {
	outline: 1px solid green;
  }
}

.annotation-text-annotations-tester {
  background-color: green;
}
